In [1]:
%%capture
import sys
sys.path.append("..")
from squaresEnumerator import Squares
s = Squares()
inputs = []
const, aggrs, attrs, loc = "", "", "", 1

Inputs:

- Faculty 

|F_key|F_name|
|---|---|
|f1|Snape|
|f2|Flitwick|
|f3|Sprout|
|f4|McGonagall|

- Class

|C_name|F_key| 
|---|---|    
| Potions | f1 |    
| Charms | f2 |
| Dark Arts | f1 |
| Herbology | f3 |
| Transfiguration | f4 |

- Student 

|S_key|S_name|level|
|---|---|---|
|S1|Harry|JR|
|S2|George|SR|
|S3|Ron|JR|
|S4|Fred|SR|
|S5|Hermione|JR|

- Enrolled 

|S_key|C_name|
|---|---|
|S1|Potions|
|S2|Potions|
|S3|Charms|
|S3|Transfiguration|
|S4|Charms|
|S4|Herbology|
|S5|Dark Arts|

In [2]:
input0 = "C_name,F_key\nPotions,f1\nCharms,f2\nDarkArts,f1\nHerbology,f3\nTransfiguration,f4"
inputs.append(input0)

input1 = "S_key,C_name\nS1,Potions\nS2,Potions\nS3,Charms\nS3,Transfiguration\nS4,Charms\nS4,Herbology\nS5,DarkArts"
inputs.append(input1)

input2 = "F_key,F_name\nf1,Snape\nf2,Flitwick\nf3,Sprout\nf4,McGonagall"
inputs.append(input2)

input3 = "S_key,S_name,level\nS1,Harry,JR\nS2,George,SR\nS3,Ron,JR\nS4,Fred,SR\nS5,Hermione,JR"
inputs.append(input3)

Here the user specifies the output table, using a string and "\n" represents the end of a line.
The following table is:

- Output 

|n|
|---|
|2|

In [3]:
output="n\n2"

[Optional] Constants.  Constants can either be integers or strings. 
- E.g. consts = "class2,f1"

In [4]:
consts="Snape, JR"

[Optional] Aggregators. The user can specify several SQL/R aggregators that will be used by desired query.
Aggregators available: 

| Choices | SQL Operator |
|--|--|
| max| MAX|
| min | MIN|
| mean | AVG|
| sum | SUM|
| like | LIKE|
| concat/concat_grouped | Concat|
| n | COUNT( ) |
| max(n) | to filter using the maximum number calculated using COUNT( )|

For example to count the number of classes taught by some faculty the user should provide aggrs = "n".

In [5]:
aggrs="n"

[Optional] Here the user can insert certain attributes from the previous tables, that the query uses.
- E.g. attrs="level, F_name".

In [6]:
attrs="level,F_name,S_name"

Calling the method synthesize, SQUARES returns the query both in R and SQL.

In [7]:
R_Query, SQL_Query = s.synthesize(inputs,output,consts,aggrs,attrs,loc)

- Now the SQL query is presented:

In [8]:
print(SQL_Query)

SELECT `n`
FROM
  (SELECT `F_name`,
          `level`,
          COUNT() AS `n`
   FROM
     (SELECT `F_key`,
             `F_name`,
             `C_name`,
             `S_key`,
             `S_name`,
             `level`
      FROM
        (SELECT `F_key`,
                `F_name`,
                `C_name`,
                `S_key`
         FROM
           (SELECT `F_key`,
                   `F_name`,
                   `C_name`
            FROM `input2` AS `LHS`
            INNER JOIN `input0` AS `RHS` ON (`LHS`.`F_key` = `RHS`.`F_key`)) AS `LHS`
         INNER JOIN `input1` AS `RHS` ON (`LHS`.`C_name` = `RHS`.`C_name`)) AS `LHS`
      INNER JOIN `input3` AS `RHS` ON (`LHS`.`S_key` = `RHS`.`S_key`))
   GROUP BY `F_name`,
            `level`)
WHERE (`F_name` = 'Snape'
       AND `level` = 'JR')





- Now, the R query is presented:

In [9]:
print(R_Query)

RET_DF8379 <- inner_join(inner_join(inner_join(input2, input0), input1), input3)
RET_DF8380 <- RET_DF8379 %>% group_by(F_name, level) %>% summarise(n = n())
RET_DF8381 <- RET_DF8380 %>% ungroup() %>% filter(F_name == "Snape" & level == "JR")
RET_DF8382 <- RET_DF8381 %>% ungroup() %>% select(n)